.scroll-top {
	background: transparent;
	border: none;
	padding: 1rem;
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
	transition: all ease 0.3s;
	opacity: 0;
	color: #fff200;
}

/* STOP COPYING HERE IF USING THE FWD STARTER THEME */
.spacer {
  height: 120vh;
  background-color: #404040;
  color: white;
}
html {
  scroll-behavior: smooth;
}
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
svg path {
	fill: currentColor;
}